﻿<html>
    <head>
            <title>ListOfOrder</title>
    </head>
    <body>
        <div style="background-color:lightblue">
            <h3 align="center">List Of Orders</h3>
        </div>
        <div>
            <table>
                <tr>
                    <td></td>
                </tr>
                <tr>

                </tr>
            </table>
        </div>
    </body>
</html>