﻿@model Sales_Warrior.User_Details
    @if(ViewBag.message!=null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.message");
            };
        </script>
    }

<html>
<head>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>
    <title>Login Page</title>
    <style>
        img.Login {
            width: 15%;
            border-radius: 20%;
        }


        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid /*#ccc*/;
            box-sizing: border-box;
            border-radius: 25px;
        }

        input[type=button] {
            background-color: #66b3ff;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            border-radius: 15px;
        }

        button {
            background-color: #66b3ff;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            border-radius: 15px;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            /*border: 3px solid #f1f1f1;*/
            /*width:80%;
                height:100%;*/
            align-content: center;
        }

        .mycontainer {
            padding: 10px 15px 20px 10px;
            margin-right: 50px;
            margin-left: 50px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Validate", "Login", FormMethod.Post))
    {
        <h2 align="center">Login</h2>
        <form action="/action_page.php">
            <div class="mycontainer" align="center">
                <img src="~/Images/login.jpg" alt="LoginImage" class="Login" />
            </div>
            <div class="mycontainer" align="center">

                <strong>@Html.DisplayNameFor(model => model.UserName)</strong>
                @Html.TextBoxFor(model => model.UserName)
                <br />
                <strong>@Html.DisplayNameFor(model => model.Password)</strong>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div class="mycontainer" align="center">
                <button type="submit" class="sub">Submit</button>
                <input type="button" value="Refresh" onclick="location.href='@Url.Action("Login","Login")'" />
                <input type="button" value="Cancel" onclick="location.href='@Url.Action("Home","Home")'" />
                <br />
                <span class="psw"> <a href="#">Forgot password?</a></span>
            </div>
        </form>
    }
</body>
</html>
