﻿@model IEnumerable<Sales_Warrior.Order_Product>
@*@model IEnumerable<Sales_Warrior.Product>*@
@{
        ViewBag.Title = "CreateOrder";
        Layout = "~/Views/Shared/_MenuLayout.cshtml";
    }


    <!DOCTYPE html>

    <html>
    <head>
        @*<meta charset="utf-8">*@
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
        @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>CreateOrder</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 15px;
            }

            #total {
                color: green;
            }

            .row label {
                display: inline-block;
                width: 125px;
            }

            .row input {
                width: 200px;
            }
        </style>
    </head>
    <body>
        @using (Html.BeginForm("Save", "CreateOrder", FormMethod.Post))
        {
            <div align="center">

                <h2>CreateOrder</h2>
                @*<fieldset>
                    <div class="row">
                        <b>@Html.Label("Vendor")</b>@Html.TextBoxFor(l => l.)
                        <a href="Lookup">Lookup</a>
                    </div>
                    <br />
                    <div class="row">
                        <b>@Html.Label("Supplier")</b>@Html.TextBoxFor(l => l.Supplier)
                        <a href="Lookup">Lookup</a>
                    </div>
                </fieldset>*@
            </div>
            <br /><br />
            <div align="center">
                <table style="width:90%">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product)
                            @Html.DropDownList("Productlist", ViewBag.orderproduct as SelectList, "Select Product")
                            
                        </th>

                        <th><strong>Description</strong></th>
                        <th><strong>Price</strong></th>
                        <th><strong>Quantity</strong></th>
                        <th><strong>Amount</strong></th>
                    </tr>
                    @foreach (var ord in Model)
                    {
                    <tr>
                        <td>@ord.Prod_Id</td>
                        <td></td>
                        <td>@ord.Price</td>
                        <td>@ord.Quantity</td>
                        <td></td>

                    </tr>
                    }
                   

                </table>
            </div>
            <div align="center" class="container">
                <p id="total"><b>Total Order Value</b></p>
                 <input type="submit" value="Save" class="btn btn-primary" onclick="location.href='@Url.Action("Save", "CreateOrder")'" />
                <input type="button" value="Refresh" class="btn btn-primary" onclick="location.href='@Url.Action("CreateOrder", "CreateOrder")'" />
                <input type="button" value="Cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Menu", "Menu")'" />

            </div>
        }
    </body>
</html>

