﻿@model Sales_Warrior.Models.SOV

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">


<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .form-element-row label {
            display: inline-block;
            width: 125px;
        }

        stop

        .form-element-row input {
            width: 350px;
        }

        input[type=button] {
            background-color: #66b3ff;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            border-radius: 15px;
        }

        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" >
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" > </script >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" > </script >
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" > </script >
    </style>
        <script type="text/javascript">
            $('#Vendor_Id').change(function () {
                $('#SUPPLIER option').remove();
                $.getJSON('/ListOfOrder/FillCity', { id: $('#Vendor_Id').val() }, function (data) {
                    $.each(data, function () {
                        $('#SUPPLIER').append('<option value=' +
                            this.Sup_Name + '>' + this.Sup_Name + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error getting Data!');
                });
            });
            </script>     

</head>
<body>
    <div>
        <table style="width:80%">
            <tr>
                <th colspan="6">
                    <h3 align="center"><b>List Of Orders</b></h3>
                </th>
            </tr>
            <tr>
                <td colspan="6">
                    <fieldset>
                        <div class="form-element-row">
                            <strong>@Html.DisplayNameFor(model => model.Vendor)</strong>
                            @Html.DropDownListFor(m => m.Vendor, ViewBag.Vendor_Name as SelectList, "select Vendor", new { @id = "Vendor_Id",@name = "Vendor_Id", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Vendor, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-element-row">
                            <strong>@Html.DisplayNameFor(model => model.Supplier)</strong>
                            @*@Html.DropDownListFor(m => m.Supplier,
        new SelectList(Enumerable.Empty<SelectListItem>(), "Sup_Id", "Sup_Name"),
                            "Select Supplier",
                        new { @class = "form-control" })*@
                            @Html.DropDownList("Supplier", Enumerable.Empty<SelectListItem>(), "--SELECT Supplier--",
                                new { @id = "SUPPLIER", @name = "SUPPLIER" })
                            <button type="button" class="btn btn-primary">Search</button>
                            </br>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <th>Order_Id</th>
                <th>Order_Date</th>
                <th>Vendor</th>
                <th>Supplier</th>
                <th>Status</th>
            </tr>
            @*@foreach (var ord in Model)
                 {
                <tr>
                    <td>@ord.Order_Id</td>
                    <td>@ord.Order_Date</td>
                    <td>@ord.Vendor_Id</td>
                    <td>@ord.Sup_Id</td>
                    <td>@ord.Status</td>
                </tr>
                }*@
            <tr>
                <td colspan="6">
                    <div align="center">
                        <br /><br />
                        <input type="button" value="Cancel" onclick="location.href='@Url.Action("Home", "Home")'" />
                    </div><br />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>













































































































@*@model IEnumerable<Sales_Warrior.Order>
        .

    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h2 align="center">List Of Orders</h2>
        <table>
            <tr>
                <td><b>Vendor</b></td>
                <td>
                    <select>
                        <option>-Select Vendor-</option>
                        <option>Vendor</option>
                        <option>Vendor</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Supplier</b></td>
                <td>
                    <select>
                        <option>-Select Supplier-</option>
                        <option>Supplier</option>
                        <option>Supplier</option>
                    </select>
                </td>
                <td><input type="submit" value="Search" /></td>
            </tr>
        </table>
        <table border="1">
            <tr>
                <th>Order_Id</th>
                <th>Order_Date</th>
                <th>Vendor</th>
                <th>Supplier</th>
                <th>Status</th>
            </tr>

            @foreach (Order ord in Model)
            {
                <tr>
                    <td>@ord.Order_Id</td>
                    <td>@ord.Order_Date</td>
                    <td>@ord.Vendor_Id</td>
                    <td>@ord.Sup_Id</td>
                    <td>@ord.Status</td>
                </tr>
            }
        </table>
    </body>
    </html>*@

