﻿<html>
<head>
   
    <style>
        table, th, td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 80%;
        }

        th {
            height:0px;
        }
    </style>

</head>
<body>
    <table border="1" cellpadding="0">
        <tr>

            <th colspan="2">
                <h3 align="center">Order Details</h3>
                Vendor<input type="text" name="Vendor"></br>
                Order<input type="text" name="Order"></br>
                Date<input type="text" name="Date">
            </th>
           
        </tr>
        
        


    </table>
    
</body>
</html>




