﻿ 
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('../../Images/img1.jpg');
            background-repeat: no-repeat;
            background-size: 100% 220%;
        }
    </style>
</head>
<body>
    <div align="center">
        <h2 align="left"><i>Welcome to Fashion Furnishings<br/><br/>Sales Warrior System</i></h2>
        <br /><br /><br /><br /><br />
        <h3 align="left">@Html.ActionLink("Click Here To Login", "Login", "Login")</h3>
    </div>
</body>
</html>



